.snap {
  margin-top: 4.2rem;
  max-height: 45.5rem;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}

.home {
  /* scroll-snap-align: center; */
  padding: 3rem 4rem 1rem;
  color: white;
  min-height: 45.5rem;
  position: relative;
  isolation: isolate;
}

.home h4 {
  font-family: "Racing Sans One", cursive;
  font-family: "Rye", cursive;
  font-size: 5rem;
  letter-spacing: 3px;
  margin-top: 1.5rem;
  line-height: 1.4;
}

.home p {
  font-size: 1.6rem;
  font-family: var(--paragraph-font);
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 0.8rem;
  line-height: 1.5;
}

#btn {
  margin-top: 3rem;
  padding: 1em 2em;
  border-radius: 10rem;
  font-size: 1.1rem;
  font-family: system-ui;
  background-color: greenyellow;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

#btn:hover,
#btn:focus {
  transform: scale(1.05);
  background-color: transparent;
  outline: 2px solid greenyellow;
  color: white;
}

.home > img {
  position: absolute;
  top: 15rem;
  right: 2rem;
  max-height: 30rem;
  z-index: -1;
}

.get-started {
  /* scroll-snap-align: start; */
  min-height: 45.5rem;
  color: white;
  padding: 2rem;
}

.get-started > h4 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-1);
}

.steps {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.step-details {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #040d28;
  box-shadow: 0 0 10px -5px black;
  transform: translateY(15rem);
  opacity: 0;
  transition: 0.3s ease;
  min-height: 40rem;
}

.step-details:nth-child(2),
.step-details:last-child {
  flex-direction: row-reverse;
}

.show-step-details {
  transform: translateY(0);
  opacity: 1;
}

.step-details img {
  max-height: 35rem;
}

.step-info {
  max-width: 30rem;
}

.step-info h4 {
  font-size: 3rem;
  font-family: "Chonburi", cursive;
}

.step-info p {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: var(--paragraph-font);
  letter-spacing: 1px;
}
