.side-nav {
  display: none;
}

.form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.form > h4 {
  font-family: system-ui;
  color: white;
  font-size: 3.5rem;
}

form {
  min-height: 3rem;
  max-width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1.2rem 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

label {
  color: whitesmoke;
  font-family: var(--paragraph-font);
  font-size: 1.1rem;
  letter-spacing: 1px;
}

input {
  padding: 0.8em 0.6em;
  min-width: 25vw;
  border-radius: 10rem;
  text-indent: 0.5rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  font-family: system-ui;
  background-color: var(--lighter-bgcolor);
}

input:focus {
  outline: 2px solid greenyellow;
}

input::placeholder {
  font-size: 1rem;
}

.btn {
  margin-top: 2rem;
  background-image: linear-gradient(60deg, aqua, greenyellow);
  color: black;
  border: none;
  font-family: system-ui;
  border-radius: 10rem;
  cursor: pointer;
  padding: 0.8em;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
}
